
// ===========
// Fonts
// =========== //

$sht-body-font: 'Open Sans',sans-serif;
$sht-heading-font: 'Libre Baskerville',serif;

// ===========
// Colors
// =========== //
$sht-color-primary: #D4A574;
$sht-color-dark: #bb7c3a;
$sht-primary-faint: #DDB892;
$sht-color-heading: #1a1a1a;
$sht-color-text: #4e4e4e;
$sht-green-default: #27AE60;
$sht-green-faint: #F0FDF4;
$sht-text-faint: #7C7C7C;
$sht-color-white: #FFFFFF;
$sht-border-default: #EAE1D7;
$sht-border-secondary: #DCCCBB;
$sht-border-faint: #EAE1D7;
$sht-fill-foreground: #FFFBF5;
$sht-fill-background: #FAF7F2;
$sht-rose-gold: #F1C40F;
$sht-semantic-yellow: #E67E22;
$sht-semantic-purple: #9B59B6;
$sht-semantic-blue: #3498DB;
$sht-color-secondary: #2D5A27;
$sht-secondary-faint: #397231;
$sht-twilight-blue: #0C3B7C;

// ================================ //
//Media Query
// ================================ //
$max1199: "only screen and (max-width: 1199.98px)";
$max1024: "only screen and (max-width: 1024.98px)";
$max991: "only screen and (max-width: 991.98px)";
$max768: "only screen and (max-width: 768px)";
$max575: "only screen and (max-width: 575.98px)";
