@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;
.sht-btn{
    background: $sht-color-primary;
    color: $sht-fill-background;
    @include d-flex();
    @include align-items(center);
    gap: 8px;
    padding: 12px 24px;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    border: none;
    cursor: pointer;
    @include bd-radius(32px);
    transition: all 0.3s ease-in-out;
    @media #{$max768}{
        padding: 10px 20px;
        font-size: 16px
    }
    &:hover,
    &:focus{
        background: $sht-color-dark;
        color: $sht-fill-background;
        outline: none;
        box-shadow: none;
        svg{
            path{
                stroke: $sht-fill-background;
            }
        }
    }
    svg{
        path{
            transition: all 0.3s ease-in-out;
        }
    }
    &-transparent{
        padding: 0;
        background: transparent;
        color: $sht-color-primary;
        &:hover,
        &:focus{
            background: transparent;
            color: $sht-color-dark;
            svg{
                path{
                    stroke: $sht-color-dark;
                }
            }
        }
    }
    &-fill{
        background: $sht-fill-background;
        color: $sht-color-primary;
        border: 1px solid $sht-border-faint;
        &:hover,
        &:focus{
            background: $sht-color-dark;
            color: $sht-fill-background;
            svg{
                path{
                    stroke: $sht-fill-background;
                }
            }
        }
    }
}