@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;

// faq
.tf-faq-wrapper {
    background: $sht-fill-foreground;

    .tf-faq-inner {
        @include d-flex();
        flex-direction: column;
        gap: 24px;
        max-width: 880px;
        margin: 0 auto;

        @media (max-width: 768px) {
            gap: 16px;
        }

        .tf-faq-item {
            padding: 24px;
            border: 1px solid $sht-border-faint;
            background: $sht-fill-background;
            @include bd-radius(16px);

            @media (max-width: 768px) {
                padding: 16px;
            }

            .tf-faq-item-title {
                padding: 0;
                gap: 8px;
                color: $sht-color-heading;
                font-weight: 700;
                @include d-flex();
                flex-wrap: nowrap;
                @include align-items(center);
                gap: 8px;
                cursor: pointer;

                .tf-faq-item-icon {
                    @include d-flex();

                    .tf-plus {
                        display: flex;
                    }

                    .tf-minus {
                        display: none;
                    }
                }

                &.active {
                    .tf-icon-minus {
                        display: block;
                    }
                }
            }

            .tf-faq-item-content {
                display: none;
                padding: 4px 0 0 28px;

            }

            &.active {
                .tf-faq-item-title {
                    .tf-faq-item-icon {
                        .tf-plus {
                            display: none;
                        }

                        .tf-minus {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}

// testimonial
.tf-testimonial-wrapper {
    background: $sht-fill-foreground;
    overflow-x: hidden;

    .tf-testimonial-inner {
        position: relative;

        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 0;
            height: 100%;
            width: 300px;
            background: rgba(255, 255, 255, 0.02);
            backdrop-filter: blur(1px);
            z-index: 2;

            @media #{$max1199} {
                width: 200px;
            }

            @media #{$max991} {
                display: none;
            }
        }
        &.hide-blur {
            &::after,
            &::before {
                display: none;
            }
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }

        .tf-testimonial-slider {
            &.no-slide {
                @include d-flex();
                gap: 24px;
                .tf-testimonial-item {
                    flex-basis: calc(33.333% - 16px);
                    margin-bottom: 0;
                    @media #{$max991} {
                        flex-basis: calc(50% - 16px);
                    }
                    @media #{$max575} {
                        flex-basis: 100%;
                    }
                }
            }

            .tf-testimonial-item {
                padding: 24px;
                background: $sht-color-white;
                @include bd-radius(16px 16px 16px 0);
                @include d-flex();
                flex-direction: column;
                gap: 16px;
                text-align: center;
                position: relative;
                margin-bottom: 40px;


                @media #{$max768} {
                    padding: 16px;
                }

                .tf-shape {
                    position: absolute;
                    bottom: -32px;
                    left: 0;
                    width: 35px;
                    height: 42px;
                }

                .tf-review-header {
                    @include d-flex();
                    @include justify-content(center);
                    gap: 8px;

                    .tf-review-avatar {
                        img {
                            @include bd-radius(50%);
                        }
                    }

                    .tf-review-meta {
                        text-align: left;

                        .tf-name {
                            font-weight: 700;
                            color: $sht-color-heading;
                        }
                    }


                }

                .tf-rating-stars {
                    @include d-flex();
                    @include align-items(center);
                    @include justify-content(center);
                    gap: 4px;

                    div {
                        display: flex;
                        gap: 2px;
                    }

                    i {
                        color: $sht-semantic-yellow;
                    }
                }

                .tf-description {
                    p {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                    }
                }

                &.slick-center {
                    box-shadow: 0 16px 32px 0 rgba(83, 50, 16, 0.08);
                }
            }



            .slick-list {
                margin: 0 -32px;

                @media #{$max1199} {
                    margin: 0 -16px;
                }

                @media #{$max991} {
                    margin: 0 -8px;
                }

                .slick-track {
                    display: flex;
                    align-items: stretch;

                    .slick-slide {
                        margin-left: 32px;
                        margin-right: 32px;
                        height: auto;

                        @media #{$max1199} {
                            margin-left: 16px;
                            margin-right: 16px;
                        }

                        @media #{$max991} {
                            margin-left: 8px;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }

        .sht-slider-controls {
            max-width: 540px;
            width: 100%;
            margin: auto;
            @include d-flex();
            @include align-items(center);
            @include justify-content(space-between);
            position: absolute;
            left: 51%;
            top: 46%;
            transform: translate(-52%, -50%);

            @media #{$max1199} {
                max-width: 100%;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                justify-content: center;
            }

            button {
                width: 48px;
                height: 48px;
                box-shadow: 0 16px 32px 0 rgba(83, 50, 16, 0.08);
                background: $sht-fill-foreground;

                @media #{$max1199} {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

}